html {
    height: 100%;
    display: flex;
    overflow-y: scroll;
    background-color: #f2f2f2;
}
body {
    height: 100%;
    margin: 0 auto;
}

#root{
    color: #333;
    margin: 0 auto;
    padding: 0;
    display: flex;
    height: 100%;
    padding-bottom: 75px;
    font: 12px/1.4 Interstate, "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}

.splash-app{
    width: 1240px;
    height: 100%;
    margin: 0 auto;
}

.carousel{
 color: #fff;
 position: relative;
 border-top: 4px solid #f50;
 height: 450px;
 background-image: url('carousel_demo_image.png');
 width: 100%;
 margin: 0 auto;
 min-height: 450px;

}

.carousel-top{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.carousel-nav{
    display:flex;
    justify-content: flex-end;
    font-size: 14px;
    font-family: Interstate,"Lucida Grande","Lucida Sans Unicode","Lucida Sans", Garuda, Verdana,Tahoma,sans-serif;
    font-weight: 100;
    text-align: center;
    box-sizing: border-box;
    flex-wrap: nowrap;
    align-items: center;  
}

.buttons{
   height: 30px; 
   padding: 2px 15px;
   border-radius: 3px;
   margin-right: 10px;
   font-size: 14px;
   font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
   color: white;
   background: none;
   font-weight: 100;
   letter-spacing: 1px;
   box-sizing: border-box;
}

.buttons:hover{
     cursor: pointer;
}

button:focus {outline:0;}

// .signin{

// }

.signup{
    border: none;
    background: #f50;
    margin-right: 25px;
}

.demo-button{
    height: 46px;
    font: inherit; 
    background: #f50;
    border: none;
}

.cloud-logo{
    margin: 10px 32px;
    position:relative;
}

.cloud-logo-item{
    height: 20px;
    width: 55px;
    position:absolute;
}

.cloud-logo:after{
    content:"FLOATINGNOTE"; 
    color: #fff;
    position:absolute;
    left: 60px;
    top: 2px;
    font-weight: bold;
    font-size: 15px;

}

.carousel-nav{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 25px;
}

.carousel-mid {
   display:block;
}

 .carousel-mid h1 {
    font-size: 36px;
    color: white;
    margin-bottom: 26px;
    font-weight: 100;
    width: 650px;
 }

 .carousel-mid p {
    font-size: 18px;
    color: white;
    margin-bottom: 26px;
 }

 .carousel-information{
    display:flex;
    justify-content: center;
    width: 530px;
    margin: 8% auto;
    text-align: center;

 }

// .buttons{
//     display:flex;
//     justify-content: flex-end;
//     font-size: 14px;
//     font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
//     font-weight: 100;
//     text-align: center;
//     box-sizing: border-box;
//     background: green;
//     flex-wrap: nowrap;
//     align-items: center;  
// }
