
.track-item{
    height: 173px;
    width: 173px;;
    display: flex;
    flex-direction: column;
    margin: 0 10px;

}

.track-item-image{
    height: 173px;
    width: 100%;
}

.track-item-title, .track-item-uploader {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333333;
}

.track-item-uploader{
    color: #999999;
}

.slider-container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    overflow: hidden;
}