@import './base/colors.scss';

.player-container{
    background-color: #f2f2f2;
    border-top: 1px solid #cecece;
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0px;
    right: 0;
    z-index: 2;
}

.scrubber-container{
    float: left;
    height: 100%;
    width: 630px;
    margin: 0 30px 0 15px;
    padding: 0 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.controls-container{
    display: flex;
    width: 190px;
    justify-content: center;
    height: 100%;
    align-items: center;
    float: left;
}

.player-right-container{
    display: flex;
    width: 300px;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    float: left;
    padding: 0 10px;
}

.player-positioner{
    width: 1240px;
    margin: 0 auto;
    height: 100%;
}

.next-button{
    transform: rotate(180deg);
}

.controls-container img{
    height: 24px;
    margin-left: 12px;
}

.player-right-container img{
    height: 24px;
    margin-left: 12px;
}

.track-duration{
    padding: 16px 0;
}

.scrubber-tracker{
    border: 1px solid #f50;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    background-color: #f50;
    padding: 0;
}

.scrubber-outer{
    width: 512px;
    height: 1px;
    background: #f50;
    position: relative;
}
 
.track-current-time{
    color: $orange;
}

input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    background: #ccc;
    width: 100%;
    height: 1px;
    position: absolute;
    top: -2px;
    cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track{

}

input[type=range]::-ms-track {
  background: #ccc;
  width: 512px;
  height: 1px;
  position: absolute;
  top: -2px;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
   -webkit-appearance: none;
    border: 1px solid #f50;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    background-color: #f50;
    padding: 0;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    border: 1px solid #f50;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    background-color: #f50;
    padding: 0;
    cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
    border: 1px solid #f50;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    background-color: #f50;
    padding: 0;
    cursor: pointer;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
}
