
.player-container{
    background-color: #f2f2f2;
    border-top: 1px solid #cecece;
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0px;
    right: 0;
    z-index: 2;
}

.controls-container{
    display: flex;
    width: 190px;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.player-positioner{
    width: 1240px;
    margin: 0 auto;
    height: 100%;
}

.next-button{
    transform: rotate(180deg);
}

.controls-container img{
    height: 24px;
    margin-left: 12px;
}
 
//test

audio {
    height: 100%;
    width: 100%;
    position: absolute;
    top: -100px;
    left: 7px;
}

audio > input {
    color:orange;
}

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}