@import './base/colors.scss';

.play-button, .play-button-show{
    height: 60px;
    width: 60px;
    background: $orange;
    border-radius: 50%;
    position: absolute;
    top: 60px;
    right: 60px;
}

.play-button-show{ 
    top: 5px;
    left: -70px;
}

.play-button-positioner{
    position: relative;
}

.play-logo{
    position: absolute;
    top: 16px;
    right: 20px;
}

.play-button:hover{
    background: #F83600;
}

.in-play{
    background: #F83600;
}

.button-show{
    opacity: 1;
}

.button-hidden{
    opacity: 0;
}