@import './base/colors.scss';

.carousel{
    border-top: 4px solid $orange;
    height: 450px;
    background-image: url('carousel_demo_image.png');
}

.carousel-top{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.carousel-nav{
    margin-top: 25px;
}

.buttons, .signin, .signup, .demo-button{
    // height: 26px;
    // padding: 2px 11px 2px 10px;
    // border: 1px solid #e5e5e5;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    // line-height: 20px;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    // font-weight: 100;
    // text-align: center;
    // vertical-align: baseline;
    // box-sizing: border-box
}

.signin{
    margin-right: 10px;
    padding: 2px 11px 2px 10px;
    line-height: 24px;
    transition: opacity .2s linear;
    background: 0 0;
    color: #fff;
    border: 1px solid #e5e5e5;
}

.signup{
    margin-right: 25px;
    background-color: $orange;
    color: #fff;
    padding: 2px 11px 2px 10px;
    height: 30px;
    border: none;
}

.demo-button{
    height: 46px;
    background: $orange;
    border: none;
    font-size: 18px;
    min-width: 210px;
    padding-top: 0;
    color: #fff;
}

.cloud-logo{
    margin: 10px 32px;
    position:relative;
}

.cloud-logo-item{
    // height: 22px;
    // width: 48px;
    position:absolute;
}

.cloud-logo:after{
    content:"FLOATINGNOTE"; 
    color: #fff;
    position:absolute;
    left: 55px;
    top: 2px;
    font-weight: bold;
    font-size: 15px;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}

 .carousel-mid h1 {
    font-size: 36px;
    color: white;
    margin-bottom: 8px;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 100;
    width: 700px;
 }

 .carousel-mid p {
    color: white;
    font-size: 18px;
    max-width: 530px;
    margin: 0 auto;
    margin-bottom: 15px;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    line-height: 25px;
 }

 .carousel-information{
    display: flex;
    height: 85%;
    align-items: center;
    justify-content: center;
    text-align: center;
 }



