/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
/* line 1, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/base/reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-font-smoothing: antialiased;
}

/* line 23, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/base/reset.scss */
body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* line 28, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/base/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 33, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/base/reset.scss */
nav ul {
  list-style: none;
}

/* line 37, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/base/reset.scss */
ul {
  list-style: none;
}

/* line 41, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/base/reset.scss */
a {
  text-decoration: none;
  color: #CCCCCC;
}

/* line 46, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/base/reset.scss */
a:hover {
  color: #ffffff;
}

/* line 50, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/base/reset.scss */
input:focus {
  outline: none;
}

/* line 54, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/base/reset.scss */
button:focus {
  outline: none;
}

/* line 58, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/base/reset.scss */
button {
  user-select: none;
}

/* line 62, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/base/reset.scss */
a {
  user-select: none;
}

/* line 66, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/base/reset.scss */
select:focus {
  outline: none;
}

/* line 70, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/base/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 74, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/base/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 80, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/base/reset.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 88, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/base/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
/* line 94, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/base/reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 103, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/base/reset.scss */
input, select {
  vertical-align: middle;
}

/* line 107, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/base/reset.scss */
::placeholder {
  font: 12px/1.5 "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}

/* line 1, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/modal.scss */
.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background: rgba(240, 240, 240, 0.9);
}

/* line 11, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/modal.scss */
.modal-child {
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background: #ffffff;
  height: 570px;
  width: 400px;
  flex-direction: column;
  justify-content: space-between;
  margin: 76px 0 30px;
  padding: 25px;
  align-content: center;
}

/* line 27, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/modal.scss */
.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/* line 35, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/modal.scss */
.submit-button {
  width: 100%;
  border: none;
  background: #f50;
  border-radius: 3px;
  margin-top: 10px;
  font-size: 14px;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  color: white;
  font-size: 16px;
  line-height: 18px;
  padding: 10px 15px;
  height: 40px;
  padding: 10px 15px;
}

/* line 51, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/modal.scss */
.input-box {
  width: 92%;
  height: 40px !important;
  border-radius: 5px;
  font-size: 16px;
  line-height: 24px;
  padding: 0 15px;
  position: relative;
  z-index: 1;
  transition: border-color .1s;
  font-size: 18px;
  border: 1px solid #ccc;
}

/* line 65, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/modal.scss */
::placeholder {
  color: #999999;
}

/* line 69, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/modal.scss */
.post-info-check {
  display: flex;
  justify-content: flex-start;
}

/* line 74, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/modal.scss */
.required-field {
  font-size: 14px;
  display: inline-block;
  margin-top: 0;
  font-weight: 500;
  line-height: 1.3;
  position: relative;
  margin-bottom: 12px;
  letter-spacing: 0;
  width: 400px;
}

/* line 86, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/modal.scss */
.required-field > span:after {
  content: '*';
  position: fixed;
  color: #cf0000;
  display: inline-block;
  margin-left: 2px;
  font-size: 14px;
}

/* line 95, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/modal.scss */
.user-privacy {
  margin-top: 50px;
  text-align: left;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}

/* line 101, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/modal.scss */
.sign-in-text {
  margin: 10px 0;
  display: block;
  font-stretch: 100%;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 16.8px;
  color: #999999;
  font-style: normal;
  text-size-adjust: 100%;
}

/* line 114, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/modal.scss */
.info-form-container {
  display: block;
  width: 400px;
  margin-top: 25%;
}

/* line 120, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/modal.scss */
.modal-demo-login {
  text-indent: 27;
  width: 100%;
  color: #fff;
  border-color: #4285f4;
  background-color: #4285f4;
  font-size: 16px;
  line-height: 18px;
  padding: 10px 15px;
  height: 40px;
  border-radius: 3px;
  margin-top: 10px;
  font-size: 14px;
}

/* line 135, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/modal.scss */
.divider {
  margin: 1em auto;
  position: relative;
  text-align: center;
  display: block;
  font-size: 16px;
}

/* line 143, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/modal.scss */
.divider span {
  font-size: 16px;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

/* line 150, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/modal.scss */
.divider:after {
  display: inline-block;
  width: 43%;
  border-top: 1px solid #333;
  content: " ";
  position: absolute;
  top: .5em;
  right: 0;
  margin-top: .5%;
}

/* line 161, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/modal.scss */
.divider:before {
  display: inline-block;
  width: 43%;
  border-top: 1px solid #333;
  content: " ";
  position: absolute;
  top: .5em;
  left: 0;
  margin-top: .5%;
}

/* line 172, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/modal.scss */
.login-form-container {
  margin: 70%;
  display: block;
  width: 400px;
  margin-top: 200px;
}

/* line 179, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/modal.scss */
.input-box-login {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  line-height: 24px;
  padding: 0 5px;
  position: relative;
  z-index: 1;
  transition: border-color .1s;
  font-size: 18px;
  margin: 5px 0;
  display: flex;
  align-content: flex-start;
}

/* line 196, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/modal.scss */
.input-box-login span {
  margin: 0 5px;
}

/* line 200, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/modal.scss */
.input-box-login-pass {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  line-height: 24px;
  padding: 0 4px 0px 15px;
  z-index: 1;
  transition: border-color .1s;
  font-size: 18px;
  margin: 5px 0;
  box-sizing: border-box;
}

/* line 215, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/modal.scss */
.create-account {
  line-height: 1.2em;
  letter-spacing: 0;
  display: block;
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}

/* line 225, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/modal.scss */
.signup-form {
  width: 400px;
  margin-top: 50px;
}

/* line 230, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/modal.scss */
.are-you-sure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 12px;
  margin-top: 30px;
  line-height: 1.4em;
  letter-spacing: 0;
}

/* line 242, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/modal.scss */
.are-you-sure h3 {
  font-size: 14px;
  margin-bottom: 2px;
}

/* line 247, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/modal.scss */
.are-you-sure p {
  width: 300px;
  font-weight: bold;
}

/* line 252, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/modal.scss */
.gender-selector {
  font-size: 16px;
}

/* line 256, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/modal.scss */
.gender-margin-top {
  margin-top: 130px;
}

/* line 260, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/modal.scss */
.required-field-gender {
  left: 1px;
}

/* line 264, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/modal.scss */
.gender-field {
  background: transparent;
  transition: border-color .1s;
}

/* line 269, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/modal.scss */
.errors {
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 17px;
  color: #cf0000;
}

/* line 276, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/modal.scss */
.errors-input {
  border: 1px solid #cf0000;
}

/* line 2, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/navbar.scss */
.nav-bar {
  width: 1240px;
  height: 100%;
  display: flex;
}

/* line 8, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/navbar.scss */
.nav-bar-container {
  display: flex;
  position: fixed;
  height: 46px;
  width: 100%;
  background: #333;
  transition: height .2s ease-in-out;
  -webkit-font-smoothing: subpixel-antialiased;
  z-index: 1000;
  justify-content: center;
}

/* line 20, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/navbar.scss */
.nav-button {
  display: block;
  padding: 12px 0;
  width: 104px;
  height: 46px;
  border-right: 1px solid #111;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
}

/* line 32, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/navbar.scss */
.nav-search-container {
  flex: 1;
  padding: 9px 10px 8px;
  position: relative;
}

/* line 41, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/navbar.scss */
.search-bar {
  color: #666;
  outline: 0;
  border: 0;
  padding: 5px 7px;
  background: #e5e5e5;
  -webkit-appearance: none;
  box-sizing: border-box;
  width: 100%;
  height: 28px;
  transition: all 300ms ease-in-out;
  font-weight: 100;
  font-size: 14px;
  line-height: 20px;
  border-radius: 4px;
}

/* line 58, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/navbar.scss */
.nav-home {
  color: #fff !important;
  background-color: #111;
  outline: 0;
}

/* line 64, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/navbar.scss */
.cloud-nav {
  background-size: 48px 22px;
  height: 46px;
  width: 194px;
  min-width: 69px;
  box-sizing: border-box;
  padding: 0;
  background: linear-gradient(to bottom, #f77301 0%, #f63400 100%);
  display: flex;
  justify-content: flex-start;
}

/* line 76, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/navbar.scss */
.nav-logo-after {
  left: -26px;
  top: 2px;
}

/* line 81, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/navbar.scss */
.nav-logo-item {
  margin-left: 5px;
}

/* line 85, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/navbar.scss */
.nav-button-container {
  padding: 9px 10px 10px 10px;
}

/* line 89, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/navbar.scss */
.create-button {
  margin-right: 0 !important;
}

/* line 93, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/navbar.scss */
.clicked-search {
  border-color: #666;
  background-color: #fff;
}

/* line 98, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/navbar.scss */
#signup {
  margin-left: 8px;
  transition: opacity .2s linear;
}

/* line 103, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/navbar.scss */
#signin {
  float: left;
  margin-right: 10px;
}

/* line 108, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/navbar.scss */
.upload {
  color: #ccc;
  display: block;
  padding: 12px 10px 12px;
  float: left;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 14px;
}

/* line 119, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/navbar.scss */
.drop-down {
  width: 46px;
  height: 46px;
  border: 0;
  box-sizing: border-box;
  text-align: center;
  display: block;
  padding: 12px 0;
  background-position: center;
  position: relative;
}

/* line 131, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/navbar.scss */
.options-icon {
  position: absolute;
  top: -20%;
  left: -1%;
  background: transparent;
  padding-bottom: 12px;
  height: 100%;
}

/* line 140, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/navbar.scss */
.options-icon:hover {
  filter: contrast(150%);
}

/* line 144, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/navbar.scss */
.open {
  filter: contrast(150%);
  background: #111;
}

/* line 149, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/navbar.scss */
.show {
  background: #000000;
  padding: 8px 10px;
  position: absolute;
  display: block;
  width: 370%;
  height: 35%;
  right: 1px;
  top: 100%;
  text-align: left;
  font-size: 12px;
}

/* line 162, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/navbar.scss */
.show:hover {
  background: #333;
}

/* line 166, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/navbar.scss */
.hidden {
  display: none;
}

/* line 170, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/navbar.scss */
.glass-icon-item {
  width: 20px;
  position: absolute;
  right: 3%;
  top: 23%;
}

/* line 177, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/navbar.scss */
.logo-signed-in {
  width: 70px;
  position: relative;
}

/* line 182, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/navbar.scss */
.logo-item-signed-in {
  position: absolute;
  top: 11px;
  left: 5px;
}

/* line 188, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/navbar.scss */
.profile {
  padding: 12px 28px 12px 10px;
  position: relative;
  border: none;
}

/* line 194, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/navbar.scss */
.control-overflow {
  width: fit-content;
}

/* line 198, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/navbar.scss */
.clicked {
  color: #fff;
  background: #111;
}

/* line 2, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/splash.scss */
.splash-app {
  width: 1240px;
  height: 100%;
  margin: 0 auto;
}

/* line 8, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/splash.scss */
.carousel {
  color: #fff;
  position: relative;
  border-top: 4px solid #f50;
  height: 450px;
  background-image: url("carousel_demo_image.png");
  width: 100%;
  margin: 0 auto;
  min-height: 450px;
}

/* line 19, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/splash.scss */
.carousel-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 25, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/splash.scss */
.carousel-nav {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  text-align: center;
  box-sizing: border-box;
  flex-wrap: nowrap;
  align-items: center;
}

/* line 35, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/splash.scss */
.buttons {
  display: inline-block;
  position: relative;
  height: 26px;
  margin: 0;
  padding: 2px 11px 2px 10px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
  color: #333;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  font-weight: 100;
  text-align: center;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* line 55, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/splash.scss */
textarea, select, button, input {
  font-family: inherit;
  color: #333;
}

/* line 61, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/splash.scss */
.buttons:hover {
  cursor: pointer;
}

/* line 65, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/splash.scss */
button:focus {
  outline: 0;
}

/* line 67, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/splash.scss */
.signin {
  padding: 2px 11px 2px 10px;
  height: 30px;
  line-height: 24px;
  transition: opacity .2s linear;
  background: 0 0;
  color: #fff;
  border-color: #ccc;
  text-align: center;
  vertical-align: baseline;
  border: 1px solid #e5e5e5;
}

/* line 80, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/splash.scss */
.signup {
  margin-right: 25px;
  background-color: #f50;
  border-color: #f50;
  color: #fff;
  font-weight: 100;
  text-align: center;
  vertical-align: baseline;
  padding: 2px 11px 2px 10px;
  height: 30px;
  line-height: 24px;
  border: none;
  background: #f50;
}

/* line 95, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/splash.scss */
.demo-button {
  height: 46px;
  background: #f50;
  border: none;
  font-size: 18px;
  min-width: 210px;
  line-height: 46px;
  padding-top: 0;
  padding-bottom: 0;
  white-space: nowrap;
  font-weight: 100;
  text-align: center;
  vertical-align: baseline;
  color: #fff;
}

/* line 111, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/splash.scss */
.cloud-logo {
  margin: 10px 32px;
  position: relative;
}

/* line 116, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/splash.scss */
.cloud-logo-item {
  height: 22px;
  width: 48px;
  position: absolute;
}

/* line 122, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/splash.scss */
.cloud-logo:after {
  content: "FLOATINGNOTE";
  color: #fff;
  position: absolute;
  left: 55px;
  top: 2px;
  font-weight: bold;
  font-size: 15px;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}

/* line 133, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/splash.scss */
.carousel-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 25px;
}

/* line 140, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/splash.scss */
.carousel-mid {
  display: block;
}

/* line 144, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/splash.scss */
.carousel-mid h1 {
  font-size: 36px;
  color: white;
  margin-bottom: 8px;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  font-weight: 100;
  width: 700px;
}

/* line 153, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/splash.scss */
.carousel-mid p {
  color: white;
  margin-bottom: 26px;
  font-size: 18px;
  max-width: 530px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 15px;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  font-weight: 100;
  line-height: 25px;
}

/* line 166, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/splash.scss */
.carousel-information {
  display: flex;
  justify-content: center;
  width: 530px;
  margin: 8% auto;
  text-align: center;
}

@media (max-width: 1239px) {
  /* line 3, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/tracks.scss */
  .creator-nav-container {
    width: 1020px;
  }
}
/* line 8, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/tracks.scss */
.radio {
  margin: 3px 1.5ex;
}

/* line 13, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/tracks.scss */
.radio:checked {
  background: transparent;
}

/* line 17, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/tracks.scss */
.tab-container a {
  cursor: pointer;
  color: #333;
  border-bottom: 1px solid transparent;
  display: inline-block;
  text-align: center;
}

/* line 25, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/tracks.scss */
.tab-container a:hover {
  border-bottom: 1px solid  #333;
}

/* line 29, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/tracks.scss */
.tab-container {
  display: flex;
  justify-content: space-evenly;
  width: 25%;
  font-size: 14px;
}

/* line 36, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/tracks.scss */
.tab-container:nth-child(2) {
  margin: 5px;
}

/* line 40, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/tracks.scss */
input[type='file'] {
  opacity: 0;
}

/* line 44, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/tracks.scss */
.main-page-container {
  width: 1240px;
  background: #ffffff;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

/* line 52, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/tracks.scss */
.creator-nav-container {
  position: absolute;
  min-height: 48px;
  line-height: 48px;
  font-weight: 100;
  top: 46px;
  width: 1240px;
  display: flex;
  justify-content: flex-start;
  padding: 0 30px;
  box-sizing: border-box;
  z-index: 1;
  background: #fff;
}

/* line 67, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/tracks.scss */
.upload-form-container {
  display: flex;
  position: absolute;
  top: 100px;
  padding: 120px 0;
  box-sizing: border-box;
  justify-content: space-between;
  flex-direction: column;
}

/* line 77, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/tracks.scss */
.active-tab {
  border-bottom: 1px solid #f50 !important;
  color: #f50 !important;
}

/* line 82, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/tracks.scss */
.upload-form-container {
  flex-direction: column;
  margin: 0 auto;
  border-radius: 2px;
  background-color: #fff;
  text-align: center;
  position: relative;
  box-shadow: 0 2px 12px -5px rgba(0, 0, 0, 0.1);
  border: 1px solid #f2f2f2;
  height: 460px;
  width: 800px;
}

/* line 95, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/tracks.scss */
.background-image-container {
  background-image: url("MLB_background.jpg");
  position: absolute;
  width: 1240px;
  height: 100%;
  padding: 90px 0;
}

/* line 104, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/tracks.scss */
.upload-form {
  width: 800px;
  height: 345px;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  align-items: center;
}

/* line 113, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/tracks.scss */
.terms-use {
  border-color: #f2f2f2;
  background-color: rgba(242, 242, 242, 0.9);
  padding: 20px;
  border: 1px solid transparent;
  border-radius: 3px;
  position: absolute;
  top: 102%;
  left: 0px;
  box-sizing: border-box;
  width: 800px;
  text-align: center;
}

/* line 127, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/tracks.scss */
.title {
  font-size: 22px;
  color: #333;
  font-weight: 100;
  margin: 18px 0 0;
  line-height: 1.3;
}

/* line 135, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/tracks.scss */
input[type="radio"]:checked:before {
  content: "";
  display: block;
  position: relative;
  top: 2px;
  left: 1px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #333;
}

/* line 147, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/tracks.scss */
.drag-button {
  width: 300px;
  height: 40px;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
}

/* line 155, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/tracks.scss */
.label-input {
  display: none;
}

/* line 159, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/tracks.scss */
.form-when-dropped {
  box-shadow: none;
  border-color: transparent;
  border: 2px dashed #F2F2F2;
  width: 800px;
  height: 182px;
  padding: 20px;
  margin-top: 20px;
}

/* line 169, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/tracks.scss */
.smaller-drag-button {
  height: 26px;
  padding: 5px;
}

/* line 174, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/tracks.scss */
.re-upload {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
  padding: 8px 16px;
  background: #f5f5f5;
  border-radius: 6px;
  border: solid 1px rgba(151, 151, 151, 0.2);
  margin-bottom: 8px;
  align-items: center;
}

/* line 186, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/tracks.scss */
.replace-button {
  display: inline-block;
  position: relative;
  height: 26px;
  margin: 0;
  padding: 2px 11px 2px 10px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
  color: #333;
  font-size: 14px;
  line-height: 20px;
  width: fit-content;
  white-space: nowrap;
}

/* line 203, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/tracks.scss */
.replace-button:hover {
  border-color: #cccccc;
}

/* line 207, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/tracks.scss */
.p-bar-container {
  width: 800px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  color: #666;
  margin: 0 auto;
  padding: 0px 8px;
  box-sizing: border-box;
}

/* line 218, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/tracks.scss */
.form-parent-container {
  display: flex;
  width: 100%;
  height: 905px;
  background: aliceblue;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
}

/* line 228, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/tracks.scss */
.upload-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 505px;
  position: relative;
}

/* line 237, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/tracks.scss */
.p-bar-left {
  background-color: #06c;
  background-image: linear-gradient(to right, #2189c9, #1c75c9);
  transform: scaleX(1);
  width: 50%;
  height: 5px;
}

/* line 245, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/tracks.scss */
.p-bar-right {
  background-color: #f50;
  background-image: linear-gradient(to right, #fd7722, #fc6621);
  transform: scaleX(1);
  width: 50%;
  height: 5px;
}

/* line 253, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/components/tracks.scss */
.fill-in-form {
  position: absolute;
}

/* line 28, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/application.scss */
html {
  width: 100%;
  height: 100%;
  display: flex;
  overflow-y: scroll;
  background-color: #f2f2f2;
}

/* line 35, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/application.scss */
body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font: 12px/1.4 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}

/* line 42, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/application.scss */
#root {
  width: 100%;
  color: #333;
  margin: 0 auto;
  padding: 0;
  display: flex;
  height: 100%;
  font: 12px/1.7 "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}
