/* line 1, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/base/reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-font-smoothing: antialiased;
}

/* line 23, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/base/reset.scss */
body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* line 28, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/base/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 33, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/base/reset.scss */
nav ul {
  list-style: none;
}

/* line 37, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/base/reset.scss */
ul {
  list-style: none;
}

/* line 41, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/base/reset.scss */
a {
  text-decoration: none;
  color: #CCCCCC;
}

/* line 46, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/base/reset.scss */
a:hover {
  color: #ffffff;
}

/* line 50, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/base/reset.scss */
input:focus {
  outline: none;
}

/* line 54, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/base/reset.scss */
button:focus {
  outline: none;
}

/* line 58, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/base/reset.scss */
button {
  user-select: none;
}

/* line 62, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/base/reset.scss */
a {
  user-select: none;
}

/* line 66, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/base/reset.scss */
select:focus {
  outline: none;
}

/* line 70, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/base/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 74, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/base/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 80, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/base/reset.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 88, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/base/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
/* line 94, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/base/reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 103, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/base/reset.scss */
input, select {
  vertical-align: middle;
}

/* line 107, /Users/aa/Desktop/FloatingNote/app/assets/stylesheets/base/reset.scss */
::placeholder {
  font: 12px/1.5 "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
}
